{
    "rinkeby" : {
        "mnemonic": "",
        "infurakey": "",
        "infuranetwork": "rinkeby",
        "hdwalletid": "0"
    },
    "mainnet" : {
        "mnemonic": "",
        "infurakey": "",
        "infuranetwork": "mainnet",
        "hdwalletid": "0"
    }
}
